<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>CinemaGO</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body style="background-color: LightGray;">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="/cinema">
        <img src="http://downloadicons.net/sites/default/files/3D-Movies-Icon-665384.png" alt="logo" style="width:40px;">
    </a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/cinema">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cinema/movies">Movies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cinema/register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cinema/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cinema/logout">Logout</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cinema/cart">Cart</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cinema/messages">Messages</a>
        </li>
    </ul>
</nav>

<form method = "post" action = "/cinema/tasks">

    <br>
    <br>
    <br>
    <br>
    <br>

    <table border="0" align = "center">
        <tr>
            <td>The id of the movie you want to update</td>
            <td><input type="text" name="movieId" required /></td>
        </tr>
        <tr>
            <td>Air date</td>
            <td><input type="date" name="airDate" required /></td>
        </tr>
        <tr>
            <td>Hall Type</td>
            <td><select name = "hallType">
                <option value="Type A">Type A - 80 seats</option>
                <option value="Type B">Type B - 90 seats</option>
                <option value="Type C">Type C - 100 seats</option>
            </select></td>
        </tr>
        <br>
        <br>
        <tr>
            <td colspan="2"><input type="submit" name="updateMovie" value="Update">
            </td>
        </tr>
    </table>


</form>

</body>
</html>